.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.user h3 {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(10, 73, 146);
}

.user form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  height: auto;
  width: 30%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-control {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.form-btn {
  margin-top: 20px;
  padding: 15px;
  width: 40%;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(10, 73, 146);
  border: none;
  font-weight: 900;
}

.form-btn:hover {
  color: rgb(10, 73, 146);
  background: #fff;
}
