.navigation {
  display: flex;
  width: 100%;
  color: #fff;
  padding: 20px;
}

.navbar {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 40%;
}

.nav-container {
  display: flex;
  width: 30%;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-container .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
